.map {
    width: 800px;
    height: 600px;
}

.wkhr-slider-container {
    width: 800px;
    height: 30px;
    text-align: center;
    margin: 0 auto;
}

.wkhr-slider {
    width: 550px;
    display: inline-block;
    vertical-align: middle;
    line-height: 30px;
}

.wkhr-display {
    width: 250px;
    display: inline-block;
    vertical-align: middle;
    line-height: 30px;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
}
